#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
body{
    background-color: gray;
}
select {
    padding:10px;
    border-radius:10px;
    border: 0;
    width: 200px;
}
input {
    padding:10px;
    border-radius:10px;
    border: 0;
    width: 180px;
}
input::placeholder {
    color: #212529;
    opacity: 0.4;
}
input.radio-styles{
    width: 10px;
}
.gender{
    margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
h1{
    color: white;
}
.name{
    margin: 1px;
}
.email{
    margin: 1px;
}
.age{
    margin: 1px;
}
.profession {
    margin: 1px;
}
.password{
    margin: 1px;
}
.repeat{
    margin: 1px;
}
.agree{
    margin-top: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

button{
    padding:10px;
    margin: 20px;
    border-radius:10px;
    border: 0;
    width: 200px;
    color: #212529;
    opacity: 0.8;
}